.main {
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 200px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;

}

.mathButton {
    margin: 10px;
}
.Placeholder {
    margin: 10px;
}

#button {
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
}