#button {
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 7px;
}

.main {
    position: absolute;
    left: 40%;
    top: 40%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: blue;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
}