.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 120px auto 0;
  padding: 30px 46px 50px;
  border: 1px solid #eaecef;
  overflow: hidden;
  background-color: #7BD3EA;
  font-family: Arial,sans-serif;
  width: 366px;
  height: 523px;
  border-radius: 12px;
  text-align: center;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  gap: 20px;
  text-align: center;
  width: 100%;
}
#answerBox {
  margin-bottom: 40px;
  border-radius: 10px;
  border-width: 0px;
  border-color: black;
  font-family: sans-serif;
  text-align: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 10px #70C3D9;
}
#question {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 40px;
  background-color: #70C3D9;
  height: 60px;
  padding-top:15px;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#submitButton {
  border-radius: 10px; 
  border-width: 1px; 
  border-color: #A1EEBD;
  background-color: #A1EEBD;
  height: 50px;
  width: 150px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 0px 0px 10px 10px #70C3D9;
}
#total {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}