#button {
    color: black;
    border-width: 1px;
    border-color: black;
    border-radius: 7px;
}

.main {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    position: absolute;
    left: 40%;
    top: 40%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: blue;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    margin:1px;
}