.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 120px auto 0;
  padding: 30px 46px 50px;
  border: 1px solid #eaecef;
  overflow: hidden;
  background-color: #42b3f5;
  font-family: Arial,sans-serif;
  width: 366px;
  height: 523px;
  border-radius: 12px;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  gap: 30px;
  margin: 120px auto 0;
}
#answerBox {
  display
}
